@model List<Employee>
@{
}

<h1>Users</h1>

<table>
    <thead>
        <tr><th>Name</th><th>Email</th></tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.Name.FirstName</td>
                <td>@u.ContactInfo.Email</td>
            </tr>
        }
    </tbody>
</table>
